{% extends 'EnvergaDB/base.html' %}

{% block title %}Add New Record{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-6 align-self-center">
    <h4>Add New Record</h4>
    <hr class="mt-0">
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-link" ><a href="../dashboard/">Cancel</a></button>
        </div>
    </form>
</div>
{% endblock %}