{% extends 'EnvergaDB/base.html' %}

{% block title %}Dashboard{% endblock %}

<!-- File Tracking Dashboard -->
{% block content %}
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped table-bordered" width="100%">
            <thead>
                <th>No.</th>
                <th>From</th>
                <th>File Content</th>
                <th>Date</th>
                <th>Action Taken</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
        </table>
    </div>
</div>
{% endblock %}