{% extends 'EnvergaDB/base.html' %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-6 align-self-center">
    <h2>Login</h2>
    <hr class="mt-0">
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <div class="d-grid gap-2 d-md-block mt-2">
            <button type="submit" class="btn btn-success">Login</button>
            <button type="button" class="btn btn-link"><a href="../register/">Sign-up</a></button>
        </div>
    </form>
</div>
{% endblock %}